<h1>
    Tips and Hacks For May 12th Showdown
</h1>

<p >
 <font size ="5">
    The main intention of writing EAMCET is to secure a seat in the premier
    institutes of the state in the desirable field and working through it for 4
    years ,securing a satisfying job and settling in life. It’s a long road
    ahead and miles to go but as the saying goes “Well Begun is Half Done “ So
    securing a good rank is the first aim We have put together some tips to
    crack the exam
     </font>
</p>
<h2>
    Self Analysis or Introspection
</h2>
<p>
    <font size="5">
        The first and foremost step is to evaluate ourselves. It means to
        identify your strengths and weakness by solving sample papers and taking
        mock tests. The outcome of this will make you realize your weak points and
        liabilities .This will give you a better idea of areas where you have to
        work and improve. We believe this will do wonders because You Cant Lie To
        Your Own Soul ,Can you ?
    </font>
</p>
<h2>
    The Study Schedule Strategy
</h2>
<p>
    <font size="5">
        Plan a goal and make study time a part of your daily routine Structure your
        study time , allot time to each subject Create your own study zone , make
        it clean and distraction free Make sure that you track your progress Before
        going to bed make sure you chalk out tomorrows plan If you are not
        practicing Assure yourself that your competitor is studying because he/she
        really is !
    </font>
</p>
<h2>
    Solving Previous Question Papers
</h2>
<p>
    <font size="5">
        Solving previous exam papers will give you an idea of what is being asked
        in the exam and will acquaint you with the pattern of the question paper
        and also it gives you a clear cut picture of how you should be managing
        time and giving each section and question.It will also boost your
        confidence “Old Is Gold” they said !,very well said. Previous EAMCET papers
        are nothing less than gold for students.
    </font>
</p>
<h2>
    Time Management
</h2>
<p>
    <font size="5">
        Frankly Speaking Time management is the KEY to crack EAMCET with a good
        total.TIME Management can make or break your exam .It is important to work
        on speed in the phase of preparation so that speed does not become a
        hindrance on the day of the exam. Also, it is important not to waste time
        on tough questions during exams. If you are unable to answer a question
        don’t waste time on it rather go to next question otherwise it will have a
        negative impact on the remaining questions.
        <br />Pro Tip: Watch the clock
    </font>
</p>
<h2>
    Stay Healthy and Fit 
</h2>
<p>
    <font size="5">
        During the exam preparation try to stay healthy and fit. At the time of
        preparation, most of the students ignore their health. We advice you to
        stay away from fast and junk foods and eat more fresh vegetables and fruits
        You might be now thinking that these people even want to alter your eating
        habits, but trust us there is nothing more worse for a student who worked 2
        years tirelessly but is unable to perform because of sudden illness before
        exam.
    </font>
</p>
<h2>
    Regular Breaks
</h2>
<p>
    <font size="5">
        Studying Hard is crucial but studying extensively hours together is
        definitely not a good idea. Your mind needs to rest and recharge Don’t
        consider it a waste of time as it in fact increases your output .paying too
        much attention to one activity hinders performance.Try doing something
        which makes you happy and feel relaxed .You can as well sleep for some
        time. Finally a tip which you wanted to read. You are happy with this one,
        aren’t you ? Yes You Are !
    </font>
</p>
<p>
    <font size="5">
        May The Force Be With You !
    </font>

</p>