<h2>Stress Busting:Coping Up With Examination Stress!</h2>
<h4>Hello Examination ! Your name is Stress !</h4>
<p>
    It’s that time of the year again when everyone starts feeling the pressure building up
</p>
<p>
It’s that time of the year which takes away peace from students life
    </p>
<p>
Exams,We all have  them.Working towards them can make us feel a lot of pressure,especially at this level where we are aiming for a seat in the premier institutes for professional education.
We might not have that  much of choice whether or not we actually do exams,but there are definitely things we can can do to help deal with stress
    </p>
<h4>
Here are some tips on dealing with exam stress :
    </h4>
<p>
•	Exams aren’t everything.Whatever happens in your exams,you can still be successful in life afterwards.We certainly dont mean that they dont have value but if you dont do as well as you’d hoped,try to keep things in perspective.
    </p><p>
    •	Employers dont just look at your exam scores.They’re just as interested in your attitude,your skills and how well you’ll get along with other people
</p><p>
    •	Exam success dont define you as a person.There’s so much more to you and your personality than how well you can solve a particular numerical.Exams are not a perfect gauge of your ability in that subject.
</p><p>
    •	Think of how far you’ve come already.You’ve already done incredibly well to come this far and getting depressed at this point isn’t throwing away your past success.You didn’t come this far to only come this far
</p><p>
    •	Chalk out your plans in plenty of free time to unwind, and protect this time.Nobody can work all day everyday.Give yourself plenty of rest so that you can do the same amount of work in half the time or less
</p><p>
    •	Don’t panic if you go slightly off schedule-tomorrow is another day !
</p><p>
    •	Dont set yourslef ridiculous goals,Nobody can revise 10 topics in a day.Avoid ending your day in disappointment as it would only add to your worry
</p><p>
    •	If you are feeling really worried of anxious,talk to a good friend,family member or your tutor
</p><p>
    •	Stick to what makes you happy.If you are a gym bunny,love to run regularly,or like to have a kick around at the park or love to do some activity, keep it up.It will calm you down and gives your brain a re-boot
</p><p>
    •	<b>REWARD YOUR ACHIVEMENTS :</b> an hour of studying or when you have achieved a small target reward yourself with your Favourite Toblerone or Ferrero Rocher.This will motivate you and will make you work even more harder for  your next part of portion.Who knows even the want of Biryani can make you an expert in a Unit.
</p><p>
    •	<b>AVOID ‘POST-MORTEM’ OF THE EXAM:</b> Once the exam is over,you can’t go back and change anything so avoid asking your friends what they had written for a certain question
    Let go of things you can’t control.View your mistakes as learning opportunities
</p><p>
    •	Once the exams get over,Treat Yourself.Eat your favourite food or buy yourself a new dress or do whatever that makes you happy and feel relaxed.
</p>