
<div class="content">

    <h2>WHAT IS TSEP?</h2>
    <p>
        Telangana Eamcet State Predictor. As We All Know Every Year The Government Of Telangana, India Conducts EAMCET(ENGINEERING AND MEDICAL COMMON ENTRANCE TEST) but There is not much data available on the internet to know about the Colleges That you get allotted Through Eamcet.So, TSEP is a Website where you can get to know all the details like Fee,Intake,Cut-Off Ranks,etc Of every College and Not Just About Colleges but we also Provide information regarding the Ranks That you might get based on your exam scores by using last year Eamcet marks.
    </p>
    <h2>
        WHY BUILD A WEBSITE?
    </h2>
    <p>
        Having Experienced the struggle of gathering information regarding Engineering colleges (Under Eamcet) on the Internet, We Made a site through which students like us can easily access the information and make right decisions.
    </p>


    <h2>
        WHO IS BEHIND TSEP?
    </h2>
    <p>
   
            <p>
	        <img src="~/images/mypic.jpg" alt="W3Schools.com" width="100" height="140">
                I’m Tarun Pothulapati, Iam currently pursuing  my B.Tech(1st Year) in Vardhaman College Of Engineering.
     <br />
                I created TSEP as a free resource for anyone to easily access the ranks, college information. I wanted to keep it simple so that it could be of maximum benefit to the students who are writing EAMCET(Engineering).
    <br />
                I  thank Chandra Shekar For the Classic Designs for the website and also Burhan,Shiva for their time in writing the blog posts.
           <br />
	    </p>
   
        </div>
