
    @*<h1>TS Eamcet Predictor</h1>
        <div class="content">
          <h2>Trying To Predict Eamcet Ranks And Colleges Better Than Your Astrologist!</h2>
           <p>We At Tsep,Are Trying To Solve a Problem That Most Of the InterMediate Stude</p>
	    </div>
        <h2>Blog:</h2>
<div class="container">*@
    <!--<div class="blog">
	<div class="post">

	    <h2>
		@Html.ActionLink("Tips and Hacks For May 12th Showdown","Index","Blog",new {@id = 1})
		</h2
	    >

	    <p>
		The main intention of writing EAMCET is to secure a seat in the premier institutes of the state in the desirable field and working through it for 4 years ,securing a satisfying job and settling in life. It’s a long road ahead and miles to go but as the saying goes “Well Begun is Half Done “ So securing a good rank is the first aim We have put together some tips to crack the exam<br><span>Click To view more</span>
       </p>
	    <hr/>-->

    <h1>TS Eamcet Predictor</h1>

    <p style="max-width: 900px">
        Trying To Predict Eamcet Ranks And Colleges better than your astrologist!
    </p>
        <h4>Blog:</h4>
        <a href="/Blog/Index/1">
            <div class="post">
             <h3>Tips and Hacks For May 12th Showdown</h3>
                <p style="max-width: 800px">
		    The main intention of writing EAMCET is to secure a seat in the premier institutes of the state in  the desirable field  and  working through it for 4 years ,securing  a satisfying job and settling in life.It’s a long road ahead and miles to go but as the saying goes “Well Begun is Half Done “<br></p>
            </div>
        </a>
        <a href="/Blog/Index/2">
            <div class="post">
                <h3>Stress Busting:Coping Up With Examination Stress!</h3>
                <p style="max-width: 800px">
		    It’s that time of the year again when everyone starts feeling the pressure building up.It’s that time of the year which takes away peace from students life.Exams,We all have  them.Working towards them can make us feel a lot of pressure,especially at this level where we are aiming for a seat in the premier institutes for professional education.<br>
                </p>
            </div>
        </a>
          

	    
      