@using (Html.BeginForm("GetColleges", "PredictCollege"))
{
    
    <h1>Enter Your Details:</h1>
                <table>
                    <tr>
                        <td><h2>Caste: </h2></td>
                        <td>
                            <select name="caste" class="select">
                                <option value="OC">OC</option>
                                <option value="BC_A">BC_A</option>
                                <option value="BC_B">BC_B</option>
                                <option value="BC_C">BC_C</option>
                                <option value="BC_D">BC_D</option>
                                <option value="BC_E">BC_E</option>
                                <option value="SC">SC</option>
                                <option value="ST">ST</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Region:</h2>
                        </td>
                        <td>
                            <select name="region" class="select">
                                <option value="OU">OU</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><h2>Sex:</h2></td>
                        <td>
                            <select class="select" name="sex">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><h2>Rank:</h2></td>
                        <td>
                        <input name="Rank" class="text-feild" />
                        </td>
                    </tr>
                    <tr>
                        <td>Group:</td>
                        <td>
                        <select class="select" name="Group">
                        <option value="CSE">CSE</option>
                        <option value="ECE">ECE</option>
                        <option value="EEE">EEE</option>
                        <option value="MEC">MEC</option>
                        <option value="CIV">CIV</option>
                        <option value="INF">INF</option>
                        <option value="PHE">PHE</option>

                        </select> </td>
                    </tr>
                    <tr>
                       <td>
                           <input type="submit" value="Submit" />
                       </td>
                    </tr>
                </table>
            
               
                 
                
              
    
}